<nav class="navbar bg-body-tertiary">
  <div class="header">
    <div class="header-1">
      <div class="nav-part-1" routerLink="">
        <div>
          <img class="logo"
            src="https://i.pinimg.com/originals/0d/01/73/0d0173e06b57b2f91611683b35500e47.jpg"
            alt="">
        </div>
        <div class="nav-Brand">EPICREADS</div>
      </div>
      <form class="nav-part-2" #product="ngForm" (ngSubmit)="search(product.value)">
        <input class="me-2 search-input" ngModel name="name" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button">Search</button>

       
      </form>
      <ul class="pout">
        <li><a href="" class="product" id="home" routerLink="">Home</a></li>
         <!-- <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="aboutus">About Us</a></li> -->
        <!-- <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="contact-us">Contact Us</a></li> -->
         
        <li class="product"><a *ngIf="!adminService.adminLoginStatus || adminService.adminLoginStatus " routerLink="products">Books</a></li>
      
      </ul>
      <div class="nav-part-3">
        <a *ngIf="!service.loginStatus && !adminService.adminLoginStatus" class="login" routerLink="login">Login</a>
        <a *ngIf="service.loginStatus" class="login" routerLink="logout">Logout</a>
        <a *ngIf="adminService.adminLoginStatus" class="login" routerLink="logout">Logout</a>
        <a *ngIf="!adminService.adminLoginStatus" class="cart btn" routerLink="cart">Cart</a>
      </div>
    </div>

    <div *ngIf="adminService.adminLoginStatus" class="header-2">
      <nav class="navbar">
        
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <img class="menu-icon"
            src="https://cdn-icons-png.freepik.com/256/4204/4204600.png?ga=GA1.1.388368384.1702624134&" alt="">
        </label>
        <ul class="pout">
        <li >
          <a routerLink="addproducts">Add Books</a>
          <a routerLink="showproducts">Show Books</a>
          <a routerLink="showallcustomers">Show All Customers</a>
          <a routerLink="showcustomerbyid">Show Customers By Id</a>
        </li>
      </ul>
      </nav>
    </div>
  </div>
</nav>