
<body>
    

<div class="container-1">
    <form #product="ngForm" (ngSubmit)="addProduct(product.value)">
        <!-- <div class="formGroup">
            <label>Enter Product-ID : </label>
            <input type="number" name="pId" ngModel>
        </div> -->
        <div class="formGroup">
            <label >Enter Book Name : </label>
            <input type="text" name="name" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter  Book Author : </label>
            <input type="text" name="author" ngModel>
        </div>
        <div class="formGroup">
            <label>Enter Book Category : </label>
            <!-- <input type="text" name="category" ngModel> -->
            <select name="category" ngModel>
                <option value="" selected>Select Category</option>
                <option value="Drama"  >Drama</option>
                <option value="Thriller">Thriller</option>
                <option value="Romance">Romance</option>
                <option value="Spiritual">Spiritual</option>
            </select>
        </div>
        
        <div class="formGroup">
            <label >Enter Book Description : </label>
            <input type="text" name="description" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Book Image Source : </label>
            <input type="text" name="imgsrc" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Book Price : </label>
            <input type="text" name="price" ngModel>
        </div>
        <div class="formGroup">
            <label >Enter Book Quantity : </label>
            <input type="number" name="quantity" ngModel>
        </div>
        <div class="formGroup">
            <label ></label>
            <button>ADD</button>
        </div>
    </form>
</div>
</body>